* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.book {
    margin: 77px 233px 96px 123px;
}

.book-info {
    position: absolute;
    right: 30%;
    top: 20%;
}

.book-img {
    position: absolute;
    left: 17%;
    max-width: 404px;
    width: 100%;
    height: 630px;
    margin-right: 75px;
}

.queen {
    font-size: 48px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 14px;
}

.section_customers {
    position: absolute;
    top: -10%;
    right: 45%;
}

.section-title {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.book-name {
    font-size: 30px;
    font: normal;
    margin-bottom: 35px;
}

.book-desc {
    font-size: 18px;
    max-width: 541px;
}

.book-price {
    font-size: 48px;
    margin-top: 43px;
    margin-bottom: 53px;
}

.button {
    border-radius: 5px;
    height: 67px;
}

.button-primary {
    max-width: 175px;
    width: 100%;
    background-color:#f15921;
    border: 2px solid #f15921;
    margin-right: 40px;
}

.button-secondary {
    background-color: rgba(255, 255, 255, 1);
    max-width: 287px;
    width: 100%;
    border: 2px solid #f15921;
}

.button-text-primary {
    font-weight: bold;
    font-size: 24px;
    color: white;
}

.button-text-secondary {
    font-weight: bold;
    font-size: 24px;
    color: #f15921;
}

.benefits {
    display: flex;
    justify-content: center;
}

.benefit-title {
    margin-bottom: 91px;
}

.book-benefits {
    position: absolute;
    top: 900px;
    right: 18%;
    background-color: rgb(242, 242, 242);
    padding: 89px 114px 65px 114px;
    margin-bottom: 89px
}

.benefit-card {
    text-align: center;
    max-width: 180px;
    width: 100%;
    height: 140px;
    margin-right: 71px;
}

.upper {
    margin-top: -14px;
}

.width {
    max-width: 200px;
    width: 100%;
}

.benefit-img {
    width: 54px;
    height: 50px;
    margin-bottom: 16px;
}

.benefit-img2 {
    width: 58px;
    height: 38px;
    margin-bottom: 16px;      
}

.benefit-img3 {
    width: 58px;
    height: 36px;
    margin-bottom: 16px;
}

.benefit-img4 {
    width: 54px;
    height: 40px;  
    margin-bottom: 16px; 
}

.benefit-text {
    max-width: 260px;
    width: 100%;
}

.customers {
    position: absolute;
    top: 1425px;
    left: 17%;
    padding-bottom: 100px;
}

.customers .section-title {
    margin-bottom: 60px;
}

.customers-imgs {
    max-width: 1500px;
    margin: auto;
}

.customer-img {
    width: 280px;
    height: 280px;
    margin-right: 30px;
    margin-bottom: 40px;
}